# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

src/
tests/
node_modules/
.editorconfig
.gitignore
.git
.npmrc

tsconfig.json
tsconfig.lint.json

*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.vscode
